[user]
	name = Tamar Kranenburg
	email = info@takar.nl
[core]
	excludesfile = /Users/tamarkranenburg/.gitignore
[push]
	default = current
[color]
	ui = auto
[log]
	decorate = auto
[help]
	autocorrect = 10
